.template-front {

  @include breakpoint($break-medium) {
    .widget__contact {
      margin-bottom: $space;
    }
  }

  // Page header 
  .page-header {
    @include breakpoint($break-large) {
      position: absolute;
      width: 100%;
    }
  } 

  // Banner
  .banner {
    background-repeat: no-repeat;
    background-position: 35% 64%;
    text-align: left;
    padding-right: 30%;
    
    @include breakpoint($break-large) {
      text-align: center;
      padding-right: 0;
      background-size: 100%;
      background-position: left 0 bottom 57%;
    }
  }
}
