// Misc sections
// -----------------------------------------------------------------------------

// Contact section
.contact-section {
  background-color: hsl(0, 0%, 13%);
  color: white;  

  @include breakpoint($break-large) {
    padding: $space_large-half 0;
  }
}

// Featured section
.featured-section {
  .featured {
    margin-top: $space * 3;

    @include breakpoint($break-medium) {
      margin-top: $space_large-half;
    }

    @include breakpoint($break-large) {
      margin-top: $space_large * 1.5;
    }
  }
}

// Page main
// -----------------------------------------------------------------------------
.page-main {
  margin-bottom: $space * 3;

  @include breakpoint($break-medium) {
    margin-bottom: $space_large;
  }

  @include breakpoint($break-large) {
    margin-bottom: $space_large * 1.5;
  }
}
