// Misc sections
// -----------------------------------------------------------------------------

// Contact section
.contact-section {
  @include background-image(linear-gradient(top, hsl(0, 0%, 90%),hsl(0, 0%, 95%) 10%,hsl(0, 0%, 95%)));
  
  @include breakpoint($break-large) {
    padding: $space_large-half 0;
  }
}

// Featured section
.featured-section {
  .featured {
    margin-top: $space * 3;

    @include breakpoint($break-medium) {
      margin-top: $space_large;
    }

    @include breakpoint($break-large) {
      margin-top: $space_large * 1.5;
    }
  }

  .g-item {
    @include breakpoint($break-medium) {
      $output: 'isolation';
      
      &:nth-child(1) {
        @include grid-span(4,9);
      }
      &:nth-child(2) {
        @include grid-span(4,1);
      }
      &:nth-child(3) {
        @include grid-span(4,5);
      }
    }
  }
}

// Page main
// -----------------------------------------------------------------------------
.page-main {
  margin-bottom: $space * 3;

  @include breakpoint($break-medium) {
    margin-bottom: $space_large;
  }

  @include breakpoint($break-large) {
    margin-bottom: $space_large * 1.5;
  }
}