/*
Buttons

Buttons are action items for users.

Markup:
<a href="#0" class="{$modifiers}">Link Button</a>
<button class="{$modifiers}">Button Element</button>
<input type="button" class="btn {$modifiers}" value="Input Element"/>

.btn               - Default button style
.btn-cta           - Call to action buttons
.btn-neutral       - Neutral button
.btn-text          - Link button

Styleguide 1.6.1
*/

.btn {
  color: $btn-color;
  background-color: $btn-bg-color;
  display: inline-block;
  padding: $space-half $space;
  margin-bottom: 0;
  font-size: 1em;
  font-weight: normal;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  user-select: none;

  &:hover,
  &:focus {
    color: $btn-color;
    background-color: $btn-bg-color-hover;
    outline: none;
  }

  &:active {
    background-color: $btn-bg-color-active;
  }
}

.btn-cta {
  @extend .btn;
  color: $btn-cta-color;
  background-color: $btn-cta-bg-color;

  &:hover,
  &:focus {
    color: $btn-cta-color;
    background-color: $btn-cta-bg-color-hover;
  }

  &:active {
    background-color: $btn-cta-bg-color-active;
  }
}

.btn-neutral {
  @extend .btn;
  color: $btn-neutral-color;
  background-color: $btn-neutral-bg-color;

  &:hover,
  &:focus {
    color: $btn-neutral-color-hover;
    background-color: $btn-neutral-bg-color-hover;
  }

  &:active {
    background-color: $btn-neutral-bg-color-active;
  }
}

.btn-text {
  @extend .btn;
  color: $link-color;
  background-color: transparent;

  &:hover,
  &:focus {
    color: $link-color-hover;
    background-color: transparent;
  }

  &:active {
    color: $link-color-active;
    background-color: transparent;
  }
}
