body {
  font-family: 'Source Sans Pro', Verdana, Arial, sans-serif;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $base-color;
  -webkit-font-smoothing: antialiased;

  @include breakpoint(max-width $break-small) {
    font-size: 16px;
  }

  // Show horizontal lines in development
  @if($show-vertical-rythm) {
    @include debug-vertical-alignment;
  }

  @if($show-breakpoint-bg) {  
    background-color: hsla(0, 100%, 50%, .1);
    @include breakpoint($break-xsmall) {
      background-color: hsla(50, 100%, 50%, .1);
    }
    @include breakpoint($break-small) {
      background-color: hsla(100, 100%, 50%, .1);
    }
    @include breakpoint($break-medium) {
      background-color: hsla(150, 100%, 50%, .1);
    }
    @include breakpoint($break-large) {
      background-color: hsla(200, 100%, 50%, .1);
    }
  }
}
