body {
  font-family: 'Source Sans Pro', Verdana, Arial, sans-serif;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $base-color;
  -webkit-font-smoothing: antialiased;

  @include breakpoint(max-width $break-small) {
    font-size: 16px;
  }

  // Show horizontal lines in development
  @if($show-vertical-rythm) {
    @include debug-vertical-alignment;
  }

  @if($show-breakpoint-bg) {  
    background-color: hsla(0, 100%, 50%, .1);
    @include breakpoint($break-xsmall) {
      background-color: hsla(50, 100%, 50%, .1);
    }
    @include breakpoint($break-small) {
      background-color: hsla(100, 100%, 50%, .1);
    }
    @include breakpoint($break-medium) {
      background-color: hsla(150, 100%, 50%, .1);
    }
    @include breakpoint($break-large) {
      background-color: hsla(200, 100%, 50%, .1);
    }
  }
}

// Logo
// -----------------------------------------------------------------------------
.logo {
  margin: 0;
  line-height: 0;
}

.logo--name {
  display: none;
  visibility: hidden;
}

// Visual classes
// -----------------------------------------------------------------------------
.visible-small {
  @include breakpoint($break-small) {
    display: none;
  } 
}

// Hide from both screenreaders and browsers: h5bp.com/u
.hidden {
  display: none !important;
  visibility: hidden;
}

// Hide only visually, but have it available for screenreaders: h5bp.com/v
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  
  // Extends the .visuallyhidden class to allow the element to be focusable
  // when navigated to via the keyboard: h5bp.com/p
  &.focusable:active,
  &.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
  }
}

// Hide visually and from screenreaders, but maintain layout
.invisible {
  visibility: hidden;
}

// Floats
// -----------------------------------------------------------------------------
.left {
  float: left;
}

.right {
  float: right;
}
