/* 
Banner and hero

Styleguide 2.2
*/

// Banner
// -----------------------------------------------------------------------------
/*
Banner

Markup:
<article class="banner">
  <div class="l-container">
    <h1 class="banner--title">Banner title</h1>
    <p class="banner--desc">Banner teaser text</p>
    <a href="#0" class="btn banner--btn">Banner button</a>
  </div>
</article>

Styleguide 2.2.1
*/
.banner {
  text-align: center;
  padding: 0 0 $space-double;
  @include background-image(linear-gradient(top, $docs-bg, darken($docs-bg, 10)));

  @include breakpoint($break-medium) {
    padding: $space_large-half 0 $space_large;
  }

  @include breakpoint($break-large) {
    padding: $space_large 0 $space_large-double;
  }

  @include breakpoint($break-xlarge) {
    padding: $space_large-double 0 ($space_large * 3);
  }
}

.banner--title {
  text-transform: uppercase;
  letter-spacing: -0.04em;
  font-weight: 800;
  line-height: 0.8em;
  // @include adjust-leading-to(2, $h1-font-size);
}

.banner--desc {
  @include adjust-font-size-to($h5-font-size, 1.25);
  @include trailer(1, $h5-font-size);
}

.banner--btn {}

// Featured
// -----------------------------------------------------------------------------
/* 
Featured

Markup:
<article class="g-item featured">
  <img class="featured--img" src="/img/logo.svg" alt="Logo">
  <h2 class="h4 featured--title">Strategy</h2>
  <p class="featured--desc">A few words that explains a little bit more</p>
  <a href="#0" class="btn-text featured--btn">Link to feature</a>
</article>

Styleguide 2.2.2
*/
.featured {
  text-align: center;
}

.featured--img {
  max-width: 50%;
}

.featured--title {
  @include adjust-font-size-to($h4-font-size, 1);
  @include leader(.5, $h4-font-size);
}

.featured--desc {}