/* 
Banner and hero

Styleguide 2.2
*/

// Banner
// -----------------------------------------------------------------------------
/*
Banner

Markup:
<article class="banner">
  <div class="l-container">
    <h1 class="banner--title">Banner title</h1>
    <p class="banner--desc">Banner teaser text</p>
    <a href="#0" class="btn banner--btn">Banner button</a>
  </div>
</article>

Styleguide 2.2.1
*/
.banner {
  text-align: center;
  padding: 0 0 $space-double;
  @include background-image(linear-gradient(top, $docs-bg, darken($docs-bg, 10)));

  @include breakpoint($break-medium) {
    padding: $space_large-half 0 $space_large;
  }

  @include breakpoint($break-large) {
    padding: $space_large 0 $space_large-double;
  }

  @include breakpoint($break-xlarge) {
    padding: $space_large-double 0 ($space_large * 3);
  }
}

.banner--title {
  text-transform: uppercase;
  letter-spacing: -0.04em;
  font-weight: 800;
  line-height: 0.8em;
  // @include adjust-leading-to(2, $h1-font-size);
}

.banner--desc {
  @include adjust-font-size-to($h5-font-size, 1.25);
  @include trailer(1, $h5-font-size);
}

.banner--btn {}


// Featured
// -----------------------------------------------------------------------------
/* 
Featured

Markup:
<article class="l-item featured">
  <a href="#0"><img class="featured--img" src="/img/content/target.svg" alt="Blink"></a>
  <h2 class="featured--title"><a href="#0">Målrettet</a></h2>
  <p class="featured--desc">
    Suspendisse id velit vitae ligula volutpat condimentum. Aliquam erat volutpat
  </p>
</article>

Styleguide 2.2.2
*/
.featured {
  text-align: center;

  @include breakpoint($break-xsmall $break-medium) {
    margin-left: auto;
    margin-right: auto;
    max-width: 20em;
  }

  @include breakpoint($break-medium $break-large) {
    text-align: left;
    @include clearfix;
  }
}

.featured--img {
  max-width: 50%;

  @include breakpoint($break-medium $break-large) {
    float: left;
    width: 25%;
    margin-right: 5%;
    position: relative;
    top: -($space);
  }
}

.featured--title {
  @include adjust-font-size-to($h4-font-size, 1);
  @include leader(.5, $h4-font-size);

  a {
    color: $header-color;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $header-color-hover;
    }
  }
}

.featured--desc {}


// Widget
// -----------------------------------------------------------------------------
/*
Widget

Markup:
<article class="widget widget__contact">
  <h2 class="widget--title">Widget title</h2>
  <p class="widget--desc">Widget description</p>
</article>

Styleguide 2.2.3
*/
.widget {
  text-align: center;
  padding: $space 0;
}

.widget--title {
  @include adjust-font-size-to($h4-font-size);
  @include leader(0);
  @include trailer(0);
}

.widget--desc {

}


// Contact widget
// -----------------------------------------------------------------------------
/*
Contect widget

Markup:
<div class="widget widget__contact">
  <h2 class="widget--title widget__contact--title">Ta kontakt!</h2>
  <p class="widget--desc widget__contact--desc">Ikke nøl med å ringe eller sende oss en e-post for å snakke om hvordan vi kan samarbeide. Vi tar også gjerne imot <a href="#0">besøk</a></p>
  <ul class="widget__contact--info list-reset">
    <li><a class="widget__contact--info--phone btn btn-icon" href="tel:69304400" data-icon="p">69 30 44 00</a></li>
    <li><a class="widget__contact--info--email btn btn-icon" href="mailto:post@frontkom.no" data-icon="e">post@frontkom.no</a></li>
  </ul>
</div>

Styleguide 2.2.4
*/
.widget__contact {
  @extend .clearfix;
  @include breakpoint($break-medium) {
    text-align: left;
    padding: $space-double;
  }
}

.widget__contact--title {}

.widget__contact--desc {
  @include breakpoint($break-medium) {
    float: left;
    max-width: 60%;
  }
}

.widget__contact--info {
  @include breakpoint($break-medium) {
    text-align: right;

  }
}

.widget__contact--info li + li {
  margin-top: $space-half;
}
