/* 
Components

Styleguide 2.6
*/


// -----------------------------------------------------------------------------

/*
Social links

Markup:
<div class="social-share">
  <ul class="social-share-list">
    <li><a href="#">Like</a></li>
    <li><a href="#">Tweet</a></li>
    <li><a href="#">Email</a></li>
    <li><a href="#">Comment</a></li>
  </ul>
</div>

Styleguide 2.6.1
*/

.social-links {
  @extend .list-inline;

  li + li {
    margin-left: $space;
  }

  span {
    @extend .visuallyhidden;
  }
}
// -----------------------------------------------------------------------------

/*
Accordion

Markup:
<div class="accordion">
  <ul>
    <li>
      <a href="#" class="acc-handle">Accordion 1</a>
      <div class="acc-panel">
      </div>
    </li>
    <li>
      <a href="#" class="acc-handle">Accordion 2</a>
      <div class="acc-panel">
      </div>
    </li>
    <li>
      <a href="#" class="acc-handle">Accordion 3</a>
      <div class="acc-panel">
      </div>
    </li>
  </ul>
</div>

Styleguide 2.6.2
*/


// -----------------------------------------------------------------------------

/*
Single comment

Markup:
<li class="comment-container">
  <div class="comment-meta">
    <img src="../../images/fpo_avatar.png" alt="Avatar">    <h4 class="comment-name"><a href="#">Lacy Way</a></h4>
  </div>
  <div class="comment-text">
    <p>So, setting about it as methodically as men might smoke out a wasps' nest, the Martians spread this strange stifling vapour over the Londonward country. The horns of the crescent slowly moved apart, until at last they formed a line from Hanwell to Coombe and Malden. All night through their destructive tubes advanced.</p>
  </div>
</li>

Styleguide 2.6.3
*/


// -----------------------------------------------------------------------------
