/* 
Components

Styleguide 2.6
*/


// -----------------------------------------------------------------------------

/*
Social links

Markup:
<ul class="social-links">
  <li><a href="#0" data-icon="f" class="icon__only"><span class="icon--txt">Facebook</span></a></li>
  <li><a href="#0" data-icon="t" class="icon__only"><span class="icon--txt">Twitter</span></a></li>
  <li><a href="#0" data-icon="g" class="icon__only"><span class="icon--txt">Google+</span></a></li>
</ul>

Styleguide 2.6.1
*/

.social-links {
  @extend .list-inline;

  li + li {
    margin-left: $space;
  }

  a {
    padding: $space-half;
  }
}
// -----------------------------------------------------------------------------

/*
Accordion

Markup:
<div class="accordion">
  <ul>
    <li>
      <a href="#" class="acc-handle">Accordion 1</a>
      <div class="acc-panel">
      </div>
    </li>
    <li>
      <a href="#" class="acc-handle">Accordion 2</a>
      <div class="acc-panel">
      </div>
    </li>
    <li>
      <a href="#" class="acc-handle">Accordion 3</a>
      <div class="acc-panel">
      </div>
    </li>
  </ul>
</div>

Styleguide 2.6.2
*/


// -----------------------------------------------------------------------------

/*
Single comment

Markup:
<li class="comment-container">
  <div class="comment-meta">
    <img src="../../images/fpo_avatar.png" alt="Avatar">    <h4 class="comment-name"><a href="#">Lacy Way</a></h4>
  </div>
  <div class="comment-text">
    <p>So, setting about it as methodically as men might smoke out a wasps' nest, the Martians spread this strange stifling vapour over the Londonward country. The horns of the crescent slowly moved apart, until at last they formed a line from Hanwell to Coombe and Malden. All night through their destructive tubes advanced.</p>
  </div>
</li>

Styleguide 2.6.3
*/


// -----------------------------------------------------------------------------
