/* 
Navigation

Styleguide 2.5
*/

// Primary nav
// -----------------------------------------------------------------------------
/*
Primary nav

Markup:
<nav class="l-container nav nav__main" id="nav__main">
  <ul class="nav--list" role="navigation">
    <li class="nav--item"><a class="nav--link" href="#0">Nav link 1</a></li>
    <li class="nav--item"><a class="nav--link" href="#0">Nav link 2</a></li>
    <li class="nav--item"><a class="nav--link" href="#0">Nav link 3</a></li>
    <li class="nav--item"><a class="nav--link" href="#0">Nav link 4</a></li>
    <li class="nav--item"><a class="nav--link" href="#0">Nav link 5</a></li>
  </ul>
</nav>

Styleguide 2.5.1
*/
.nav--list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav--item {
  line-height: 1;
  margin: 0;
}

.nav--link {
  text-decoration: none;
  padding: ($space*1.2) $space;
  display: block;
  background-color: $nav-bg-color;
  border-bottom: 1px solid $nav-border-color;
  color: $nav-color;

  &:hover,
  &:focus {
    background-color: $nav-bg-color-focus;
    color: $nav-color;
  }
}

.nav--item:first-child .nav--link {
  border-top: 1px solid $nav-border-color;
}

.js .nav__main {
  margin-right: -65%;
  width: 65%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background: #191818;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  @include transition-duration(.2s);

}

.js .active-nav .nav__main {
  margin-right: 0;
}

.js .active-nav .nav__main--exit {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer; 
}

.js .active-nav {
  position: fixed;
}

// Breadcrumbs
// -----------------------------------------------------------------------------
/*
Breadcrumbs

Markup:
<ul class="breadcrumbs">
  <li><a href="#">Grandparent</a></li>
  <li><a href="#">Parent</a></li>
  <li><a href="#">Child</a></li>
  <li><a href="#">Grandchild</a></li>
  <li><a href="#">Great-Grandchild</a></li>
</ul>

Styleguide 2.5.3
*/


// -----------------------------------------------------------------------------

/*
Pagination

Markup:
<ol class="pagination">
  <li class="current"><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li><a href="#">6</a></li>
  <li><a href="#">7</a></li>
</ol>

Styleguide 2.5.4
*/


// -----------------------------------------------------------------------------

/*
Tabs

Markup:
<div class="tabs">
  <ul class="tab-list">
    <li><a href="#" class="active">Tab 1</a></li>
    <li><a href="#">Tab 2</a></li>
    <li><a href="#">Tab 3</a></li>
  </ul>
</div>

Styleguide 2.5.5
*/


// -----------------------------------------------------------------------------
