/*
Byline author only

Markup:
<div class="byline">by Author Name</div>

Styleguide 3.1.1
*/

.byline {
  font-style: italic;
}

// -----------------------------------------------------------------------------

/*
Byline author time

Markup:
<div class="byline">by Author Name on <time datetime="2013-04-06T12:32+00:00">June 3rd</time></div>

Styleguide 2.1.2
*/


// -----------------------------------------------------------------------------

/*
Address

Markup:
<div class="vcard">
  <div class="org">Company Name</div>
  <div class="adr">
    <div class="street-address">1234 Main St.</div>
    <span class="locality">Anywhere</span>,
    <span class="postal-code">101010</span>,
    <abbr class="region" title="California">CA</abbr>
    <div class="country-name">U.S.A</div>
  </div>
  <div class="tel">+1.888.123.4567</div>
</div>

Styleguide 2.1.3
*/


// -----------------------------------------------------------------------------

/*
Blockquote with citation

Markup:
<blockquote>
  <p>Pellentesque habitant morbi tristique senectus et netus et malesuada
  fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae,
  ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam
  egestas semper.</p>
  <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
</blockquote>

Styleguide 2.1.4
*/

blockquote small {
  display: inline-block;
  font-weight: 400;
  @include adjust-font-size-to($base-font-size, 1, $blockquote-font-size);
}


// -----------------------------------------------------------------------------

/*
Intro text

Markup:
<p class="intro">The intro text may be a lead-in to the passage of text, or it may just be used to create a visual distinction between the rest of the passage of text.</p>

Styleguide 2.1.5
*/


// -----------------------------------------------------------------------------

/*
Pullquote

Markup:
<blockquote class="pullquote">
    <p>A pull quote is a quotation or excerpt from an article</p>
</blockquote>

Styleguide 2.1.6
*/


// -----------------------------------------------------------------------------
