/* 
Widgets

Styleguide 2.7
*/


// Widget
// -----------------------------------------------------------------------------
/*
Widget

Markup:
<article class="widget widget__contact">
  <h2 class="widget--title">Widget title</h2>
  <p class="widget--desc">Widget description</p>
</article>

Styleguide 2.7.1
*/
.widget {
  text-align: center;
  padding: $space 0;
}

.widget--title {
  @include adjust-font-size-to($h4-font-size);
  @include leader(0);
  @include trailer(0);
}

.widget--desc {

}

// Contact widget
// -----------------------------------------------------------------------------
/*
Contect widget

Markup:
<article class="widget widget__contact">
  <h2 class="widget--title widget__contact--title">Ta kontakt!</h2>
  <p class="widget--desc widget__contact--desc">Ikke nøl med å ringe eller sende oss en e-post for å snakke om hvordan vi kan samarbeide. Vi tar også gjerne imot <a href="#0">besøk</a>.</p>
  <ul class="widget__contact--info">
    <li><a class="widget__contact--info--phone" href="tel:69304400">69 30 44 00</a></li>
    <li><a class="widget__contact--info--email" href="mailto:post@frontkom.no">post@frontkom.no</a></li>
  </ul>
</article>

Styleguide 2.7.2
*/
.widget__contact {
  @extend .clearfix;
  @include breakpoint($break-medium) {
    text-align: left;
    padding: $space-double;
    @include background-image(linear-gradient(top, $docs-bg, darken($docs-bg, 10)));
  }
}

.widget__contact--title {}

.widget__contact--desc {
  @include breakpoint($break-medium) {
    float: left;
    max-width: 60%;
  }
}

.widget__contact--info {
  @include breakpoint($break-medium) {
    text-align: right;

  }
}

.widget__contact--info li + li {
  margin-top: $space-half;
}
