<nav class="nav nav__main" id="nav__main">
  <ul class="nav--list" role="navigation">
    <li class="nav--item"><a class="nav--link" href="#0">Nav link 1</a></li>
    <li class="nav--item"><a class="nav--link" href="#0">Nav link 2</a></li>
    <li class="nav--item"><a class="nav--link" href="#0">Nav link 3</a></li>
    <li class="nav--item"><a class="nav--link" href="#0">Nav link 4</a></li>
    <li class="nav--item"><a class="nav--link" href="#0">Nav link 5</a></li>
  </ul>
</nav>
<a href="#0" class="nav__main--exit"></a>