// Visual guides in development
// -----------------------------------------------------------------------------
$show-grid-columns: false !default;
$show-vertical-rythm: false !default;
$show-breakpoint-bg: false !default;

// Docs element
// -----------------------------------------------------------------------------
$docs-bg: $color-gray-light;
$docs-border: $color-gray;

// Typography
// -----------------------------------------------------------------------------

// Default font family.
$base-font-family: sans-serif !default;

// Vertical rythm base font size
$base-font-size: 18px; // Original 16px

// Vertical rythm base line height
$base-line-height: 27px; // Original 24px

// Default text color set on body element
$base-color: $color-black;

// The font sizes for h1-h6.
// Perfect fourth http://modularscale.com/scale/?px1=16&px2=&ra1=1.333&ra2=0
$h1-font-size: 4.209    * $base-font-size !default;
$h2-font-size: 3.157    * $base-font-size !default;
$h3-font-size: 2.369    * $base-font-size !default;
$h4-font-size: 1.777    * $base-font-size !default;
$h5-font-size: 1.333    * $base-font-size !default;
$h6-font-size: 1        * $base-font-size !default;

$header-color-first: $color-black;
$header-color-second: $color-gray-dark;

// The amount lists and blockquotes are indented.
$indent-amount: 40px !default;

// Blockquote
$blockquote-border-color: $color-gray-dark;
$blockquote-color: $color-gray-dark;
$blockquote-font-size: 1.333 * $base-font-size !default;


// Main breakpoints
// -----------------------------------------------------------------------------
$break-xsmall: 18em; // 288px / 16px
$break-small: 30em; // 480px / 16px
$break-medium: 38em; // 684px / 18px
$break-large: 53em; // 954px / 18px

// IE support
// -----------------------------------------------------------------------------

// Set this to true to add support for IE 6.
$legacy-support-for-ie6: false !default; // Override default set in Compass' Support partial.

// Set this to true to add support for IE 7.
$legacy-support-for-ie7: false !default; // Override default set in Compass' Support partial.
