// Colors
// ------

// Don't use this variable directly in code
$color-blue: dodgerblue;
$color-blue-desaturated: #A4ACB2;
$color-yellow-desaturated: #B2B2A4;
$color-lightgray: #f0f0f0;

// Links
$link-color: $color-blue;
$link-color-hover: lighten($link-color, 10%);
$link-color-active: darken($link-color, 5%);

// Buttons
// Default button
$btn-color: white;
$btn-bg-color: $color-blue-desaturated;
$btn-bg-color-hover: lighten($btn-bg-color, 5%);
$btn-bg-color-active: darken($btn-bg-color, 3%);

// Call to action button
$btn-cta-color: white;
$btn-cta-bg-color: $color-yellow-desaturated;
$btn-cta-bg-color-hover: lighten($btn-cta-bg-color, 5%);
$btn-cta-bg-color-active: darken($btn-cta-bg-color, 3%);

// Neutral button
$btn-neutral-color: #777;
$btn-neutral-color-hover: #555;
$btn-neutral-bg-color: $color-lightgray;
$btn-neutral-bg-color-hover: lighten($btn-neutral-bg-color, 2%);
$btn-neutral-bg-color-active: darken($btn-neutral-bg-color, 3%);


// Normalize variables
// -------------------

// Set this to true to force CSS output to exactly match normalize.css.
$strict-normalize: true !default;
$strict-normalize: false;


// Typography
// ----------

// The default font family.
$base-font-family: sans-serif !default;

// The base font size.
$base-font-size: 16px !default; // Override default set in Compass' Vertical Rhythm partial.

// The base line height determines the basic unit of vertical rhythm.
$base-line-height: 24px !default; // Override default set in Compass' Vertical Rhythm partial.

// The font sizes for h1-h6.
$h1-font-size: 2    * $base-font-size !default;
$h2-font-size: 1.5  * $base-font-size !default;
$h3-font-size: 1.17 * $base-font-size !default;
$h4-font-size: 1    * $base-font-size !default;
$h5-font-size: 0.83 * $base-font-size !default;
$h6-font-size: 0.67 * $base-font-size !default;

// The amount lists and blockquotes are indented.
$indent-amount: 40px !default;


// IE support
// ----------

// Set this to true to add support for IE 6.
$legacy-support-for-ie6: false !default; // Override default set in Compass' Support partial.

// Set this to true to add support for IE 7.
$legacy-support-for-ie7: false !default; // Override default set in Compass' Support partial.
