---
layout: header-footer
title: Article page template
template: article-listing
page: article-listing
---
<main role="main" class="page-main">
  <section class="l-container">
    <h1 class="h6">Latest news</h1>
    <article class="teaser__large">
      <img src="http://placehold.it/300x300" alt="" class="teaser--img">
      <h2 class="teaser--title">Article title</h2>
      <p class="teaser--desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit amet enim. Suspendisse id velit vitae ligula volutpat condimentum. Aliquam erat volutpat.</p>
    </article>
    <article class="teaser__large">
      <img src="http://placehold.it/300x300" alt="" class="teaser--img">
      <h2 class="teaser--title">Article title</h2>
      <p class="teaser--desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit amet enim. Suspendisse id velit vitae ligula volutpat condimentum. Aliquam erat volutpat.</p>
    </article>
  </section>
  <section class="l-container g-medium">
    <h1 class="h6">Stories</h1>
    <article class="teaser__medium g-item">
      <img src="http://placehold.it/300x300" alt="" class="teaser--img">
      <h2 class="teaser--title">Article title</h2>
      <p class="teaser--desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit amet enim. Suspendisse id velit vitae ligula volutpat condimentum. Aliquam erat volutpat.</p>
    </article>
    <article class="teaser__medium g-item">
      <img src="http://placehold.it/300x300" alt="" class="teaser--img">
      <h2 class="teaser--title">Article title</h2>
      <p class="teaser--desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit amet enim. Suspendisse id velit vitae ligula volutpat condimentum. Aliquam erat volutpat.</p>
    </article>
    <article class="teaser__medium g-item">
      <img src="http://placehold.it/300x300" alt="" class="teaser--img">
      <h2 class="teaser--title">Article title</h2>
      <p class="teaser--desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit amet enim. Suspendisse id velit vitae ligula volutpat condimentum. Aliquam erat volutpat.</p>
    </article>
    <article class="teaser__medium g-item">
      <img src="http://placehold.it/300x300" alt="" class="teaser--img">
      <h2 class="teaser--title">Article title</h2>
      <p class="teaser--desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit amet enim. Suspendisse id velit vitae ligula volutpat condimentum. Aliquam erat volutpat.</p>
    </article>
    <article class="teaser__medium g-item">
      <img src="http://placehold.it/300x300" alt="" class="teaser--img">
      <h2 class="teaser--title">Article title</h2>
      <p class="teaser--desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit amet enim. Suspendisse id velit vitae ligula volutpat condimentum. Aliquam erat volutpat.</p>
    </article>
    <article class="teaser__medium g-item">
      <img src="http://placehold.it/300x300" alt="" class="teaser--img">
      <h2 class="teaser--title">Article title</h2>
      <p class="teaser--desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit amet enim. Suspendisse id velit vitae ligula volutpat condimentum. Aliquam erat volutpat.</p>
    </article>
  </section>
</main>
