---
layout: header-footer
title: Front page template
template: front
page: front
---
<main role="main" class="page-main">
  <article class="banner">
    <div class="l-container">
      <h1 class="banner--title">Banner tittel</h1>
      <p class="banner--desc">Kort beskrivelse om hva vi gjør</p>
      <a href="#0" class="btn banner--btn">Call to Action</a>
    </div>
  </article>
  <section class="l-container featured-section">
    <h1 class="h6 visuallyhidden">Tjenester</h1>
    <div class="l-featured">  
      
      <article class="l-item featured">
        <a href="#0"><img class="featured--img" src="/img/content/target.svg" alt="Blink"></a>
        <h2 class="featured--title"><a href="#0">Målrettet</a></h2>
        <p class="featured--desc">
          Suspendisse id velit vitae ligula volutpat condimentum. Aliquam erat volutpat
        </p>
      </article>
  
      <article class="l-item featured">
        <a href="#0"><img class="featured--img" src="/img/content/team.svg" alt="Samarbeid"></a>
        <h2 class="featured--title"><a href="#0">Samarbeid</a></h2>
        <p class="featured--desc">
          Orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit amet enim
        </p>
      </article>
    
      <article class="l-item featured">
        <a href="#0"><img class="featured--img" src="/img/content/pocal.svg" alt="Pokal"></a>
        <h2 class="featured--title"><a href="#0">Suksesshistorier</a></h2>
        <p class="featured--desc">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida
        </p>
      </article>
  
    </div>
  </section>
</main>
<aside class="contact-section">
  <div class="l-container">
    <div class="widget widget__contact">
      <h2 class="widget--title widget__contact--title">Ta kontakt!</h2>
      <p class="widget--desc widget__contact--desc">Ikke nøl med å ringe eller sende oss en e-post for å snakke om hvordan vi kan samarbeide. Vi tar også gjerne imot <a href="#0">besøk</a></p>
      <ul class="widget__contact--info list-reset">
        <li><a class="widget__contact--info--phone btn btn-icon" href="tel:69304400" data-icon="p">69 30 44 00</a></li>
        <li><a class="widget__contact--info--email btn btn-icon" href="mailto:post@frontkom.no" data-icon="e">post@frontkom.no</a></li>
      </ul>
    </div>
  </div>
</aside>
<nav class="nav nav__main" id="nav__main">
  <ul class="nav--list" role="navigation">
    <li class="nav--item"><a class="nav--link" href="#0">Nav link 1</a></li>
    <li class="nav--item"><a class="nav--link" href="#0">Nav link 2</a></li>
    <li class="nav--item"><a class="nav--link" href="#0">Nav link 3</a></li>
    <li class="nav--item"><a class="nav--link" href="#0">Nav link 4</a></li>
    <li class="nav--item"><a class="nav--link" href="#0">Nav link 5</a></li>
  </ul>
</nav>
