---
layout: default
title: Front page template
docs: true
---
<header class="page-header">
  <div class="l-container">
    <h1 href="#0" class="logo">Logo</h1>
  </div>
</header>
<main role="main">
  <article class="banner">
    <div class="l-container">
      <h1 class="banner--title">Banner title</h1>
      <p class="banner--teaser">Banner teaser text</p>
      <a href="#0" class="btn banner--btn">Banner button</a>
    </div>
  </article>
  <aside class="l-container">
    <h1 class="h6">Services</h1>
    <div class="g-medium">
      <div class="g-item">
        <article>
          <h2 class="h3">Web design</h2>
          <p>Some description</p>
        </article>
      </div>
      <div class="g-item">
        <article>
          <h2 class="h3">Front end development</h2>
          <p>Some description</p>
        </article>
      </div>
      <div class="g-item">
        <article>
          <h2 class="h3">Back end development</h2>
          <p>Some description</p>
        </article>
      </div>
    </div>
  </aside>
</main>
<nav class="l-container">
  <ul role="navigation">
    <li><a href="#0">Nav link 1</a></li>
    <li><a href="#0">Nav link 2</a></li>
    <li><a href="#0">Nav link 3</a></li>
    <li><a href="#0">Nav link 4</a></li>
    <li><a href="#0">Nav link 5</a></li>
  </ul>
</nav>
<footer class="page-footer">
  <div class="l-container">
    <p>Footer text</p>
  </div>
</footer>
