/*
Grid

Description to come...

Styleguide 5
*/

/*
Grids

Grids can be used inside any container. If there is more item than fits one row, 
it will break into more rows.

Markup:
<div class="{$modifiers}">
  <div class="g-item"></div>
  <div class="g-item"></div>
  <div class="g-item"></div>
  <div class="g-item"></div>
  <div class="g-item"></div>
  <div class="g-item"></div>
  <div class="g-item"></div>
  <div class="g-item"></div>
  <div class="g-item"></div>
  <div class="g-item"></div>
  <div class="g-item"></div>
  <div class="g-item"></div>
</div>

.g-small          - Small grid
.g-medium         - Medium grid
.g-large          - Large grid

Styleguide 5.1.1
*/

$output: 'float';

// Documentation style
.g-item {
  .docs & {
    background-color: $docs-bg;
    min-height: $space-double; 
    margin-bottom: $space-half;
    border: 1px solid $docs-border;
  }
}

.g-small {
  @extend .clearfix;

  .g-item {   
    @include grid-span(1);

    @include breakpoint(max-width $break-small) {
      &:nth-of-type(even) {
        margin-right: 0;
      }
    }

    @include breakpoint($break-small $break-medium) {
      &:nth-of-type(3n) {
        margin-right: 0;
      }
      @include grid-span(2);
    }

    @include breakpoint($break-medium) {
      &:nth-of-type(4n) {
        margin-right: 0;
      }
      @include grid-span(3);
    }
  }
}

.g-medium {
  @extend .clearfix;

  .g-item {
    @include grid-span(2);

    @include breakpoint($break-small $break-medium) {
      &:nth-of-type(even) {
        margin-right: 0;
      }
      @include grid-span(3);
    }

    @include breakpoint($break-medium) {
      &:nth-of-type(3n) {
        margin-right: 0;
      }
      @include grid-span(4);
    }
  }
}

.g-large {
  @extend .clearfix;

  .g-item {
    @include grid-span(2);

    @include breakpoint($break-small) {
      @include grid-span(6);
    }

    @include breakpoint($break-medium) {
      &:nth-of-type(2n) {
        margin-right: 0;
      }
      @include grid-span(6);
    }
  }
}