// Page header
// -----------------------------------------------------------------------------
/*
Page header

Markup:
<header class="page-header">
  <div class="l-container">
    <h1 class="logo">
      <a href="#">
        <span class="logo--name">Firmanavn</span>
        <img class="logo--img" src="/img/logo.svg" alt="Logo">
      </a>
    </h1>
    <a class="nav-main-toggle" href="#nav__main" data-icon="m"></a>
  </div>
</header>

Styleguide 3.1.1
*/

// TODO: Add molecules inside page header
.page-header {
  padding: $space-half 0;
  position: relative;
}

.page-header .logo {
  max-width: 40px;
}

.page-header .nav-main-toggle {
  position: absolute;
  right: 0;
  top: 0;
  diplay: inline-block;
  padding: 13px;
  color: $nav-btn-color;
  font-size: 30px;
  @include transition(all .5s ease);

  .active-nav & {
    right: 65%;
    color: $nav-btn-color-active;
    background-color: $nav-btn-bg-color-active;
    position: fixed;

  }
}

// Page footer
// -----------------------------------------------------------------------------
/* 
Page footer

Markup:
<footer class="page-footer">
  <div class="l-container">
    <ul class="social-links">
      <li><a href="#0" data-icon="f" class="icon__only"><span class="icon--txt">Facebook</span></a></li>
      <li><a href="#0" data-icon="t" class="icon__only"><span class="icon--txt">Twitter</span></a></li>
      <li><a href="#0" data-icon="g" class="icon__only"><span class="icon--txt">Google+</span></a></li>
    </ul>
  </div>
</footer>

Styleguide 3.1.2
 */
.page-footer {
  background-color: $footer-bg-color;
  color: $footer-color;
  padding: $space-double 0;
  text-align: center;

  @include breakpoint($break-medium) {
    text-align: right;
  }
}

// Footer links
.page-footer a {
  color: $footer-link-color;

  &:hover,
  &:focus {
    color: $footer-link-color-hover;
  }
}

// Footer social links
.page-footer .social-links {
  // @include adjust-font-size-to(20px);
  font-size: em(24);
}
