---
layout: default
---
<header class="page-header">
  <div class="l-container">
    <h1 class="logo">
      <a href="#">
        <span class="logo--name">Firmanavn</span>
        <img class="logo--img" src="/img/logo.svg" alt="Logo">
      </a>
    </h1>
    <a class="nav-main-toggle" href="#nav__main" data-icon="m"></a>
  </div>
</header>

{{ content }}

{% include nav-main.html %}
<footer class="page-footer">
  <div class="l-container">
    <ul class="social-links">
      <li><a href="#0" data-icon="f" class="icon__only"><span class="icon--txt">Facebook</span></a></li>
      <li><a href="#0" data-icon="t" class="icon__only"><span class="icon--txt">Twitter</span></a></li>
      <li><a href="#0" data-icon="g" class="icon__only"><span class="icon--txt">Google+</span></a></li>
    </ul>
  </div>
</footer>